<div class="filter-area">
    <div class="filter">
        <nz-select ngModel="lucy">
            <nz-option nzValue=""  nzLabel="All"></nz-option>
            <nz-option nzValue="5" nzLabel="5"></nz-option>
            <nz-option nzValue="10" nzLabel="10"></nz-option>
            <nz-option nzValue="15" nzLabel="15"></nz-option>
            <nz-option nzValue="20" nzLabel="20"></nz-option>
            <!-- <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option> -->
        </nz-select>
    </div>
    <div class="sort">
        <nz-select ngModel="lucy">
            <nz-option nzValue="jack" nzLabel="Jack">Asc</nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy">Dsc</nz-option>
            <!-- <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option> -->
        </nz-select>
    </div>
</div>